### Pandas-> Series and DataFrame:

Pandas is a powerful data manipultion libraty in python, widely used for data analysis and data cleaning. It provides two primary data structures

    - Series -> 1D array like object
    
    - DataFrame -> 2D size-mutable and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [18]:
import numpy as np
import pandas as pd

In [19]:
data=[1,2,3,4,5]
series=pd.Series(data)
print(type(series))
print(series)

<class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
# Create a series from a dictionary
data_dict = {'a': 10, 'b': 20, 'c': 30}
series_dict = pd.Series(data_dict)
print(type(series_dict))
print("\nSeries from dictionary:")
print(series_dict)

<class 'pandas.core.series.Series'>

Series from dictionary:
a    10
b    20
c    30
dtype: int64

In [21]:
data=[10,20,30,40,50]
index_labels=['1.0','1.1','1.2','1.3','1.4']
series_with_index = pd.Series(data, index=index_labels)
print("\nSeries with custom index:")
print(series_with_index)

Series with custom index:
1.0    10
1.1    20
1.2    30
1.3    40
1.4    50
dtype: int64

In [22]:
# Dataframes
# Create a DataFrame from a dictionary of lists
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [24]:
np.array(df)

array([['Alice', 25, 'New York'],
       ['Bob', 30, 'Los Angeles'],
       ['Charlie', 35, 'Chicago']], dtype=object)

In [27]:
# Create a dataframe from a list of dictionaries
data=[
    {'Name': 'Alice', 'Age': 25, 'City': 'NYC'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Las Vegas'},
    {'Name': 'Allen', 'Age': 21, 'City': 'Cape Town'},
    {'Name': 'Jackey', 'Age': 40, 'City': 'Henry County'},
    {'Name': 'Steve', 'Age': 45, 'City': 'San Fransisco'}
]
df = pd.DataFrame(data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
      Name  Age           City
0    Alice   25            NYC
1      Bob   30    Los Angeles
2  Charlie   35      Las Vegas
3    Allen   21      Cape Town
4   Jackey   40   Henry County
5    Steve   45  San Fransisco

In [30]:
df=pd.read_csv('online_sales_data.csv')
df.head(5)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [31]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [37]:
# Accessing data from dataframe
type(df['Region'])

pandas.core.series.Series

In [38]:
df.loc[0]

Region            Australia and Oceania
Country                          Tuvalu
Item Type                     Baby Food
Sales Channel                   Offline
Order Priority                        H
Order Date                    5/28/2010
Order ID                      669165933
Ship Date                     6/27/2010
Units Sold                         9925
Unit Price                       255.28
Unit Cost                        159.42
Total Revenue                 2533654.0
Total Cost                    1582243.5
Total Profit                   951410.5
Name: 0, dtype: object

In [39]:
df.iloc[0]

Region            Australia and Oceania
Country                          Tuvalu
Item Type                     Baby Food
Sales Channel                   Offline
Order Priority                        H
Order Date                    5/28/2010
Order ID                      669165933
Ship Date                     6/27/2010
Units Sold                         9925
Unit Price                       255.28
Unit Cost                        159.42
Total Revenue                 2533654.0
Total Cost                    1582243.5
Total Profit                   951410.5
Name: 0, dtype: object

In [44]:
df.iloc[99]

Region            Sub-Saharan Africa
Country                   Mozambique
Item Type                  Household
Sales Channel                Offline
Order Priority                     L
Order Date                 2/10/2012
Order ID                   665095412
Ship Date                  2/15/2012
Units Sold                      5367
Unit Price                    668.27
Unit Cost                     502.54
Total Revenue             3586605.09
Total Cost                2697132.18
Total Profit               889472.91
Name: 99, dtype: object

In [ ]:
df.iloc[2]

Region                     Europe
Country                    Russia
Item Type         Office Supplies
Sales Channel             Offline
Order Priority                  L
Order Date               5/2/2014
Order ID                341417157
Ship Date                5/8/2014
Units Sold                   1779
Unit Price                 651.21
Unit Cost                  524.96
Total Revenue          1158502.59
Total Cost              933903.84
Total Profit            224598.75
Name: 2, dtype: object

In [47]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [46]:
# Accessing specified element
df['Country']

0                    Tuvalu
1                   Grenada
2                    Russia
3     Sao Tome and Principe
4                    Rwanda
              ...
95                     Mali
96                 Malaysia
97             Sierra Leone
98                   Mexico
99               Mozambique
Name: Country, Length: 100, dtype: object

In [48]:
df.at[1, 'Country']

'Grenada'

In [49]:
df.at[2, 'Order Priority']

'L'

In [50]:
# Accessing specified element uding iat
df.iat[2, 3]

'Offline'

In [51]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [52]:
# Data manipulation with data frames
df['Review Status']= 'Checked'
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Review Status
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50,Checked
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36,Checked
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75,Checked
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82,Checked
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50,Checked

In [53]:
# remove a column
df.drop('Review Status', axis=1, inplace=True)
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [54]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [55]:
df['Total Profit'] = df['Total Profit'] + 1000000
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,1951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,1248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,1224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,1019525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,1639077.50

In [56]:
df.drop(0, inplace=True)
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,1248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,1224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,1019525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,1639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,1285087.64

In [62]:
# Display the data types of each column
print("Data types: ", df.dtypes)

# Describe the DataFrame
print("Statistical summary: \n", df.describe())

# Group by a column and perform an aggregation
grouped=df.groupby('Region')['Total Profit'].mean()
print("Grouped Data (Mean Total Profit by Region):\n", grouped)

Data types:  Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object
Statistical summary:
            Order ID   Units Sold  Unit Price   Unit Cost  Total Revenue  \
count  9.900000e+01    99.000000   99.000000   99.000000   9.900000e+01
mean   5.538674e+08  5080.262626  276.978283  191.367475   1.361769e+06
std    2.616851e+08  2766.174119  236.781148  189.138735   1.462724e+06
min    1.146066e+08   124.000000    9.330000    6.920000   4.870260e+03
25%    3.364278e+08  2825.500000   81.730000   35.840000   2.650320e+05
50%    5.559900e+08  5367.000000  154.060000   97.440000   7.454260e+05
75%    7.923336e+08  7334.500000  437.200000  263.330000   2.105066e+06
max    9.940222e+08  9905.000000  668.270000  524.960000   5.997055e+06

         Total Cost  Total Profit
count  9.900000e+01  9.900000e+01
mean   9.252356e+05  1.436533e+06
std    1.087451e+06  4.377212e+05
min    3.612240e+03  1.001258e+06
25%    1.668760e+05  1.120857e+06
50%    3.631980e+05  1.285088e+06
75%    1.621866e+06  1.633629e+06
max    4.509794e+06  2.719922e+06
Grouped Data (Mean Total Profit by Region):
 Region
Asia                                 1.555804e+06
Australia and Oceania                1.377075e+06
Central America and the Caribbean    1.406701e+06
Europe                               1.503770e+06
Middle East and North Africa         1.576119e+06
North America                        1.485981e+06
Sub-Saharan Africa                   1.338423e+06
Name: Total Profit, dtype: float64

In [59]:
# Check the column names in our DataFrame
print("Column names in the DataFrame:")
print(df.columns.tolist())
print(f"\nDataFrame shape: {df.shape}")
print("\nFirst few rows:")
print(df.head())

Column names in the DataFrame:
['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']

DataFrame shape: (99, 14)

First few rows:
                              Region                Country        Item Type  \
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies
5              Australia and Oceania        Solomon Islands        Baby Food

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062
5        Online              C   2/4/2015  547995746  2/21/2015        2974

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
1      205.70     117.11      576782.80   328376.44    1248406.36
2      651.21     524.96     1158502.59   933903.84    1224598.75
3        9.33       6.92       75591.66    56065.84    1019525.82
4      651.21     524.96     3296425.02  2657347.52    1639077.50
5      255.28     159.42      759202.72   474115.08    1285087.64

In [63]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,9.900000e+01,99.000000,99.000000,99.000000,9.900000e+01,9.900000e+01,9.900000e+01
mean,5.538674e+08,5080.262626,276.978283,191.367475,1.361769e+06,9.252356e+05,1.436533e+06
std,2.616851e+08,2766.174119,236.781148,189.138735,1.462724e+06,1.087451e+06,4.377212e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.001258e+06
25%,3.364278e+08,2825.500000,81.730000,35.840000,2.650320e+05,1.668760e+05,1.120857e+06
50%,5.559900e+08,5367.000000,154.060000,97.440000,7.454260e+05,3.631980e+05,1.285088e+06
75%,7.923336e+08,7334.500000,437.200000,263.330000,2.105066e+06,1.621866e+06,1.633629e+06
max,9.940222e+08,9905.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,2.719922e+06

In [40]:
# Demonstrating differences between loc and iloc

# Create a simple DataFrame for clear examples
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['NYC', 'LA', 'Chicago', 'Miami', 'Seattle']
}
df_demo = pd.DataFrame(data, index=['A', 'B', 'C', 'D', 'E'])
print("Demo DataFrame:")
print(df_demo)
print("\n" + "="*50)

# 1. Accessing single row
print("\n1. SINGLE ROW ACCESS:")
print("df.loc['B']:  # Using label 'B'")
print(df_demo.loc['B'])
print("\ndf.iloc[1]:  # Using position 1 (second row)")
print(df_demo.iloc[1])
print("\n" + "="*50)

# 2. Slicing rows
print("\n2. SLICING ROWS:")
print("df.loc['B':'D']:  # Labels B to D (inclusive)")
print(df_demo.loc['B':'D'])
print("\ndf.iloc[1:4]:  # Positions 1 to 4 (exclusive of 4)")
print(df_demo.iloc[1:4])
print("\n" + "="*50)

# 3. Accessing specific cell
print("\n3. SPECIFIC CELL ACCESS:")
print("df.loc['C', 'Age']:  # Row label 'C', column 'Age'")
print(df_demo.loc['C', 'Age'])
print("\ndf.iloc[2, 1]:  # Row position 2, column position 1")
print(df_demo.iloc[2, 1])
print("\n" + "="*50)

# 4. Multiple columns
print("\n4. MULTIPLE COLUMNS:")
print("df.loc['A':'C', ['Name', 'City']]:  # Labels with column names")
print(df_demo.loc['A':'C', ['Name', 'City']])
print("\ndf.iloc[0:3, [0, 2]]:  # Positions with column positions")
print(df_demo.iloc[0:3, [0, 2]])

Demo DataFrame:
      Name  Age     City
A    Alice   25      NYC
B      Bob   30       LA
C  Charlie   35  Chicago
D    David   40    Miami
E      Eve   45  Seattle

==================================================

1. SINGLE ROW ACCESS:
df.loc['B']:  # Using label 'B'
Name    Bob
Age      30
City     LA
Name: B, dtype: object

df.iloc[1]:  # Using position 1 (second row)
Name    Bob
Age      30
City     LA
Name: B, dtype: object

==================================================

2. SLICING ROWS:
df.loc['B':'D']:  # Labels B to D (inclusive)
      Name  Age     City
B      Bob   30       LA
C  Charlie   35  Chicago
D    David   40    Miami

df.iloc[1:4]:  # Positions 1 to 4 (exclusive of 4)
      Name  Age     City
B      Bob   30       LA
C  Charlie   35  Chicago
D    David   40    Miami

==================================================

3. SPECIFIC CELL ACCESS:
df.loc['C', 'Age']:  # Row label 'C', column 'Age'
35

df.iloc[2, 1]:  # Row position 2, column position 1
35

==================================================

4. MULTIPLE COLUMNS:
df.loc['A':'C', ['Name', 'City']]:  # Labels with column names
      Name     City
A    Alice      NYC
B      Bob       LA
C  Charlie  Chicago

df.iloc[0:3, [0, 2]]:  # Positions with column positions
      Name     City
A    Alice      NYC
B      Bob       LA
C  Charlie  Chicago

In [41]:
# 5. Boolean indexing with loc (iloc doesn't support this directly)
print("\n5. BOOLEAN INDEXING:")
print("df.loc[df['Age'] > 30]:  # Filter rows where Age > 30")
print(df_demo.loc[df_demo['Age'] > 30])

# Key takeaways
print("\n" + "="*60)
print("KEY DIFFERENCES SUMMARY:")
print(" loc[]   Uses LABELS (index/column names)")
print(" iloc[]  Uses INTEGER POSITIONS (0-based)")
print(" loc[]   Includes both endpoints in slicing")
print(" iloc[]  Excludes end point in slicing (like Python lists)")
print(" loc[]   Supports boolean indexing")
print(" iloc[]  Only works with integer positions")
print("="*60)

5. BOOLEAN INDEXING:
df.loc[df['Age'] > 30]:  # Filter rows where Age > 30
      Name  Age     City
C  Charlie   35  Chicago
D    David   40    Miami
E      Eve   45  Seattle

============================================================
KEY DIFFERENCES SUMMARY:
 loc[]   Uses LABELS (index/column names)
 iloc[]  Uses INTEGER POSITIONS (0-based)
 loc[]   Includes both endpoints in slicing
 iloc[]  Excludes end point in slicing (like Python lists)
 loc[]   Supports boolean indexing
 iloc[]  Only works with integer positions
============================================================